<div class="govspeak-preview-input">
  <%= render "govuk_publishing_components/components/heading", {
    text: "Convert Google doc to Govspeak",
    font_size: "l",
    heading_level: 1,
    margin_bottom: 4
  } %>

  <p class="govuk-body">
    Converts Google Docs into basic <a href="https://github.com/alphagov/govspeak" rel="nofollow" class="govuk-link">Govspeak</a>.
  </p>

  <p>
    You'll have to <a href="https://www.gov.uk/guidance/how-to-publish-on-gov-uk/markdown" rel="nofollow" class="govuk-link">convert tables and write additional Govspeak markdown</a> separately.
  </p>

  <p class="govuk-body">
    To download the file, go to Google Docs and click <%= link_to "File > Download as > Web page (.html, zipped)", image_url("govspeak-preview.gif"), class: "govuk-link" %>
  </p>

  <%= form_tag({ action: :create }, multipart: true) do %>
    <label for="govspeak_input"></label>
    <%= render "govuk_publishing_components/components/file_upload", {
      label: {
        text: "Upload a file"
      },
      name: "upload[file]"
    } %>
    <%= render "govuk_publishing_components/components/button", {
      text: "Convert",
    } %>
  <% end %>
</div>

<% if @govspeak_input %>
<div class="govspeak-preview-input">
  <form>
    <%= render "govuk_publishing_components/components/textarea", {
      label: {
        text: "Converted govspeak:"
      },
      id: "govspeak_input",
      name: "govspeak",
      value: @govspeak_input
    } %>
  </form>
</div>
<% end %>

<div class="govspeak-preview-output">
  <% if (@govspeak_doc && !@govspeak_doc.valid?) %>
    <p class="validation-warning">This govspeak doesn't validate and may not be accepted by publishing tools</p>
  <% end %>

  <article>
    <%= render 'govuk_publishing_components/components/govspeak', content: raw(@govspeak_output) %>
  </article>
</div>
