<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %></title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="wrapper">
    <%= render "govuk_publishing_components/components/layout_header", {
      environment: "beta",
      product_name: "Govspeak converter",
      navigation_items: navigation_items
    } %>
    <main class="govuk-width-container">
      <%= yield %>
    </main>
  </div>
  <%= javascript_include_tag "application" %>
</body>
</html>
